.header {
  height: 10rem;
  justify-content: space-between;
  align-items: center;
}

.brand-name-container {
  height: 14rem;
  cursor: pointer;
}

.navigation {
  display: none;
  align-items: center;

  li {
    cursor: pointer;
    margin-left: 3em;
    font-size: 1.6rem;
    font-family: OuickSandMedium;
  }

  .list-active::after {
    content: "";
    height: .2rem;
    background: #212121;
    display: block;
    transition: width 0.3s ease-in-out;
    margin: 0.5em auto 0 auto;
  }

  li::after {
    width: 2.5rem;
  }
}

.social-media {
  display: none;
  align-items: center;
  cursor: pointer;
}

.mobile-menu
{
  position: relative;
  align-items: center;

  .menu-item-container
  {
    position: absolute;
    height: 222px;
    width: 200px;
    top: 30px;
    right: 0;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    background: #fff;

    li
    {
      padding: 10px;
      font-size: 1.6rem;
      font-family: OuickSandMedium;
    }

    li:hover
    {
      background: rgb(71, 99, 228);
      color: #fff;
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

//MEDIA QUERIES
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navigation 
  {
    display: flex;
  }

  .social-media
  {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }
}
